.home{
//     background:url('../../Assets/Images/bgimage.jpg');
//     background-position: center; 
//   background-repeat: no-repeat; 
//   background-size: cover;
  .carouseldesign{
  }
  .rentacarnow{
      position: absolute;
      bottom: -20%;
  }
  .sliderdesigns{
      margin-top: 10%;
    //   background-color: #000;
      h1{
          text-align: left;
          padding: 1rem;
      }
  }
}