.excelexample{
    width:fit-content;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
    padding: 3px;
    border: 1px solid black;
    color: darkblue;
    background-color: white;
}
.colrset{
    border: 2px solid red;
}
.excelexample:hover{
    color:white;
    background-color: darkblue;
}
.excelexample h1{
    font-size: small;
    margin: auto;
}
.excelexample i{
    font-size: medium;
}
.itsatag{
    width: 100%;
    text-decoration: none;
    font-style: none;
    cursor: pointer;
}