.maingrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .imagecarlogin{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .loginbox{
        min-height:100vh ;
        background-color: #110D26;
        display: flex;
        align-items: center;
        .loginform{
            max-width: 400px;
            margin: 0 auto;
            border: 3px solid white;
            padding: 2rem;
            display: flex;
                flex-direction: column;
                gap: 2rem;
            div{
                input{
                    border-radius: 20px;
                    padding: 0 1rem;
                    font-size: 1rem;
                }
                p{
                    color: white;
                    text-align: left;
                    font-size: .7rem;
                }
                button{
                    border-radius: 20px;
                    border: 1px solid #FD6621;
                    color :#a03300;
                    padding: 0 1rem;
                    font-size: 1rem;
                }
                button:hover{
                    background-color: #FD6621;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
.linkpage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #FD6621 !important;
    font-size: .7rem;
    a{
        // text-decoration: none;
    color: #fd6721a3 !important;
    cursor: pointer;

    }
}