.imgheight{
    height: 100vh !important;
    text-shadow: 2px 2px #000000;
}
.h3tag{
    color: #FD6621 !important;
    text-shadow: 2px 2px #000000;
}
.carouseldesign{
    // position: relative;
}
.carousel-indicators{
    top: 70% !important;
}
.carousel-caption{
    top: 50% !important;
}